# 游빍 Tema 1.5: Introducci칩n a M칩dulos y Paquetes en Python
Diplomado en Data Analytics

### 游꿢 Objetivo
Comprender el uso de m칩dulos y paquetes en Python, conocer el ecosistema de librer칤as para an치lisis de datos y aprender las bases de NumPy y Pandas.

## 游닍 1. 쯈u칠 son los M칩dulos y Paquetes?
- **M칩dulo:** archivo con funciones o clases reutilizables.
- **Paquete:** carpeta que contiene varios m칩dulos.

游늷 **Ejemplo b치sico:**

In [ ]:
# Usando un m칩dulo est치ndar
import math
print("Ra칤z cuadrada de 25:", math.sqrt(25))

## 游깷 2. Ecosistema de Librer칤as para Data Analytics
- **NumPy**: manejo de arrays.
- **Pandas**: manipulaci칩n de datos tabulares.
- **Matplotlib / Seaborn**: visualizaci칩n.
- **Scikit-learn**: modelos de machine learning.
- **Statsmodels**: an치lisis estad칤stico.

游늷 Aseg칰rate de tener instaladas las librer칤as (solo en local):
```bash
pip install numpy pandas
```

## 游댝 3. Introducci칩n a NumPy
`NumPy` permite trabajar con arreglos multidimensionales (m치s r치pidos que listas).

In [ ]:
import numpy as np

a = np.array([10, 20, 30])
print("Array a:", a)
print("Suma a + 5:", a + 5)
print("Media:", np.mean(a))

### 游 Ejercicio 1
Crea un array del 1 al 10 y multipl칤calo por 2.

In [ ]:
# Tu c칩digo aqu칤
b = np.arange(1, 11)
print("Array del 1 al 10:", b)
print("Multiplicado por 2:", b * 2)

## 游늵 4. Introducci칩n a Pandas
`Pandas` permite trabajar con datos tipo tabla (como en Excel).

In [ ]:
import pandas as pd

datos = {
    'Nombre': ['Ana', 'Luis', 'Carlos'],
    'Edad': [23, 25, 30],
    'Ciudad': ['CDMX', 'GDL', 'MTY']
}

df = pd.DataFrame(datos)
print("DataFrame de ejemplo:")
print(df)

### 游 Ejercicio 2
Filtra los registros con edad mayor a 24.

In [ ]:
print("Personas con edad > 24:")
print(df[df['Edad'] > 24])

### 游 Ejercicio Final
Crea un DataFrame con tus 3 pel칤culas favoritas, incluyendo:
- T칤tulo
- A침o
- Calificaci칩n IMDB

In [ ]:
# Tu DataFrame personalizado
peliculas = {
    'T칤tulo': ['Inception', 'The Matrix', 'Interstellar'],
    'A침o': [2010, 1999, 2014],
    'IMDB': [8.8, 8.7, 8.6]
}

df_peliculas = pd.DataFrame(peliculas)
print(df_peliculas)