# 🧪 Tema 1.5: Introducción a Módulos y Paquetes en Python
Diplomado en Data Analytics

### 🎯 Objetivo
Comprender el uso de módulos y paquetes en Python, conocer el ecosistema de librerías para análisis de datos y aprender las bases de NumPy y Pandas.

## 📦 1. ¿Qué son los Módulos y Paquetes?
- **Módulo:** archivo con funciones o clases reutilizables.
- **Paquete:** carpeta que contiene varios módulos.

📌 **Ejemplo básico:**

In [ ]:
# Usando un módulo estándar
import math
print("Raíz cuadrada de 25:", math.sqrt(25))

## 🌐 2. Ecosistema de Librerías para Data Analytics
- **NumPy**: manejo de arrays.
- **Pandas**: manipulación de datos tabulares.
- **Matplotlib / Seaborn**: visualización.
- **Scikit-learn**: modelos de machine learning.
- **Statsmodels**: análisis estadístico.

📌 Asegúrate de tener instaladas las librerías (solo en local):
```bash
pip install numpy pandas
```

## 🔢 3. Introducción a NumPy
`NumPy` permite trabajar con arreglos multidimensionales (más rápidos que listas).

In [ ]:
import numpy as np

a = np.array([10, 20, 30])
print("Array a:", a)
print("Suma a + 5:", a + 5)
print("Media:", np.mean(a))

### 🧠 Ejercicio 1
Crea un array del 1 al 10 y multiplícalo por 2.

In [ ]:
# Tu código aquí
b = np.arange(1, 11)
print("Array del 1 al 10:", b)
print("Multiplicado por 2:", b * 2)

## 📊 4. Introducción a Pandas
`Pandas` permite trabajar con datos tipo tabla (como en Excel).

In [ ]:
import pandas as pd

datos = {
    'Nombre': ['Ana', 'Luis', 'Carlos'],
    'Edad': [23, 25, 30],
    'Ciudad': ['CDMX', 'GDL', 'MTY']
}

df = pd.DataFrame(datos)
print("DataFrame de ejemplo:")
print(df)

### 🧠 Ejercicio 2
Filtra los registros con edad mayor a 24.

In [ ]:
print("Personas con edad > 24:")
print(df[df['Edad'] > 24])

### 🧠 Ejercicio Final
Crea un DataFrame con tus 3 películas favoritas, incluyendo:
- Título
- Año
- Calificación IMDB

In [ ]:
# Tu DataFrame personalizado
peliculas = {
    'Título': ['Inception', 'The Matrix', 'Interstellar'],
    'Año': [2010, 1999, 2014],
    'IMDB': [8.8, 8.7, 8.6]
}

df_peliculas = pd.DataFrame(peliculas)
print(df_peliculas)